<!-- LOGOS -->
<div class="row" style="margin-top:100px; margin-bottom:50px">
<div align="center">
	<a href="http://www.tid.es"><img src="{{ site.baseurl }}/img/tid@2x.png" height="80px"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="http://www.case.edu"><img src="{{ site.baseurl }}/img/case@2x.png" height="80px"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="http://www.cs.cmu.edu"><img src="{{ site.baseurl }}/img/cmu@2x.png" height="80px"></a>
</div> <!-- center block -->
</div> <!-- row -->
